//colors
$color-green: #50c878;
$color-green-dark: #00693e;
$color-green-light: #96e072;
$color-light: #fefefa;
$color-grey: #2f4f4f;
$color-grey-medium: #808080;
$color-grey-light: #f5f5f5;
$color-grey-dark: #333;
$color-black: #1b1b1b;
$color-orange-light: #ffb900;
$color-orange-dark: orangered;
$color-blue-dark: #5433ff;
$color-blue-light: #20bdff;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;
